{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

        <!----==============content_all_warpper==============--->
        <div id="wrapper_full" class="content_all_warpper">
          <!----==============content_all_warpper==============--->
          <!----==============page header==============--->
          <section class="page_header_default pg_bg_cover alignment_center">
            <div class="bakground_cover" style="background-image:url({% static 'assets/images/page-image-1-min.jpg'%})"></div>
            <div class="page_header_content">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="banner_title_inner">
                      <div class="title">
                        <span class="main_tit">Разработка Бизнес-планов</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 vankine">
                    <ul class="breadcrumb m-auto">
                      <li>
                        <a href="service.html">Наши Услуги</a>
                      </li>
                      <li class="active">Разработка Бизнес-планов</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!----==============page header==============--->
          <!--content start-->
          <div id="content" class="site-content">
            <!---portfolio-->
            <section class="portfolio-dtail-section">
              <!---============spacing==========--->
              <div class="pd_top_90"></div>
              <!---============spacing==========--->
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 col-md-12 pd_right_30">
                    <div class="image_box">
                      <img src="{% static 'assets/images/portfolio/pro-details-min.png'%}" class="img-fluid w_100" alt="img" />
                    </div>
                    <!---============spacing==========--->
                    <div class="pd_bottom_30"></div>
                    <!---============spacing==========--->
                    <div class="section_title medium type_one">
                      <div class="title_whole">
                        <h2 class="title">  Почему Вам Следует Выбрать Нас</h2>
                      </div>
                      <p> Не важно, на какой стадии развития вашего бизнеса, бизнес-план от MSBusiness станет вашей надежной дорожной картой к успеху. Свяжитесь с нами сегодня, и мы начнем разрабатывать стратегию, которая приведет вас к вашим целям и успеху вашего бизнеса.</p>
                    </div>
                    <!---============spacing==========--->
                    <div class="pd_bottom_30"></div>
                    <!---============spacing==========--->
                    <div class="row">
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="position-relative">
                          <ul class="list_box list">
                            <li>
                              <div class="d-flex align-items-center">
                                <div class="icon trans">
                                  <i class=" fi-rr-checkbox"></i>
                                </div>
                                <a class="links" href="#"> Индивидуальный Подход </a>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex align-items-center">
                                <div class="icon trans">
                                  <i class=" fi-rr-checkbox"></i>
                                </div>
                                <a class="links" href="#"> Глубокий Анализ </a>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex align-items-center">
                                <div class="icon trans">
                                  <i class=" fi-rr-checkbox"></i>
                                </div>
                                <a class="links" href="#"> Стратегическая Ориентированность </a>
                              </div>
                            </li>
                          </ul>
                          <!---============spacing==========--->
                          <div class="pd_bottom_30"></div>
                          <!---============spacing==========--->
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="position-relative">
                          <ul class="list_box list">
                            <li>
                              <div class="d-flex align-items-center">
                                <div class="icon trans">
                                  <i class=" fi-rr-checkbox"></i>
                                </div>
                                <a class="links" href="#"> Финансовая Экспертиза </a>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex align-items-center">
                                <div class="icon trans">
                                  <i class=" fi-rr-checkbox"></i>
                                </div>
                                <a class="links" href="#"> Сценарии и Риски</a>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex align-items-center">
                                <div class="icon trans">
                                  <i class=" fi-rr-checkbox"></i>
                                </div>
                                <a class="links" href="#"> Профессиональная Команда </a>
                              </div>
                            </li>
                          </ul>
                          <!---============spacing==========--->
                          <div class="pd_bottom_30"></div>
                          <!---============spacing==========--->
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="position-relative">
                          <ul class="list_box list">
                            <li>
                              <div class="d-flex align-items-center">
                                <div class="icon trans">
                                  <i class=" fi-rr-checkbox"></i>
                                </div>
                                <a class="links" href="#"> Инновации и Технологии </a>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex align-items-center">
                                <div class="icon trans">
                                  <i class=" fi-rr-checkbox"></i>
                                </div>
                                <a class="links" href="#"> Точное Планирование</a>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex align-items-center">
                                <div class="icon trans">
                                  <i class=" fi-rr-checkbox"></i>
                                </div>
                                <a class="links" href="#"> Поддержка на Всех Этапах </a>
                              </div>
                            </li>
                          </ul>
                          <!---============spacing==========--->
                          <div class="pd_bottom_30"></div>
                          <!---============spacing==========--->
                        </div>
                      </div>
                    </div>
                    <div class="image_box">
                      <img src="{% static 'assets/images/MS/T6W9kx1jxuQJnovJjhro.jpeg'%}" class="img-fluid" alt="img" />
                    </div>
                    <!---============spacing==========--->
                    <div class="pd_bottom_30"></div>
                    <!---============spacing==========--->
                    <div class="section_title medium type_one">
                      <div class="title_whole">
                        <h2 class="title"> Мониторинг и Контроль</h2>
                      </div>
                      <p> Разработанный бизнес-план будет служить основой для мониторинга и контроля выполнения целей. Мы регулярно оцениваем прогресс и анализируем, какие корректировки могут потребоваться для достижения целей.</p>
                      <p> Сформулированные конкретные и измеримые цели являются критическими для вашего бизнеса, так как они помогают ориентировать действия и ресурсы компании в нужном направлении. Мы помогаем вам четко определить, какие результаты вы хотите достичь, и как измерить свой успех на пути к достижению этих целей. </p>
                    </div>
                    <!---============spacing==========--->
                    <div class="pd_bottom_30"></div>
                    <!---============spacing==========--->
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="section_title medium type_one">
                      <div class="title_whole">
                        <h2 class="title"> Ваша Дорожная Карта к Успеху</h2>
                      </div>
                      <p> Бизнес-план - это документ, который служит важным инструментом в развитии и росте вашего бизнеса. Он не только определяет вашу стратегию и цели, но и позволяет вам прокладывать путь к успеху, предвидеть вызовы и возможности, и оценивать ваши ресурсы.</p>
                    </div>
                    <!---============spacing==========--->
                    <div class="pd_bottom_30"></div>
                    <!---============spacing==========--->
                
                    <!---============spacing==========--->
                    <div class="pd_bottom_30"></div>
                    <!---============spacing==========--->
                    <div class="section_title type_one">
                      <p> В MSBusiness, мы специализируемся на разработке бизнес-планов, которые являются индивидуальными, точными и эффективными. Наша команда опытных консультантов и аналитиков работает над тем, чтобы предоставить вам бизнес-план, который будет действенным инструментом управления вашим бизнесом.

                      </p>
                    </div>
                    <!---============spacing==========--->
                    <div class="pd_bottom_30"></div>
                    <!---============spacing==========--->
                    <div class="social-icons">
                      <ul>
                        <li>
                          <a href="portfolio-details.html#" class="m_icon">
                            <i class="fab fa-facebook"></i>
                          </a>
                        </li>
                        <li>
                          <a href="portfolio-details.html#" class="m_icon">
                            <i class="fab fa-whatsapp"></i>
                          </a>
                        </li>
                        <li>
                          <a href="portfolio-details.html#" class="m_icon">
                            <i class="fab fa-telegram"></i>
                          </a>
                        </li>
                        <li>
                          <a href="portfolio-details.html#" class="m_icon">
                            <i class="fab fa-instagram"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!---============spacing==========--->
              <div class="pd_bottom_60"></div>
              <!---============spacing==========--->
            </section>
            <!---slider end-->
          </div>
          <!--content end-->
          {% include 'include/footer.html' %}
          {% endblock %}