{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
        <!----==============content_all_warpper==============--->
        <div id="wrapper_full" class="content_all_warpper">
          <!----==============content_all_warpper==============--->
          <!----==============page header==============--->
          <section class="page_header_default pg_bg_cover alignment_center">
            <div class="bakground_cover" style="background-image:url(assets/images/page-image-1-min.jpg)"></div>
            <div class="page_header_content">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="banner_title_inner">
                      <div class="title">
                        <span class="main_tit">Строительная компания Rayan Building</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 vankine">
                    <ul class="breadcrumb m-auto">
                      <li>
                        <a href="index.html">Наши Проекты</a>
                      </li>
                      <li class="active"> Rayan Building</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!----==============page header==============--->
          <!--content start-->
          <div id="content" class="site-content">
            <section class="blog-detail-section">
              <!---============spacing==========--->
              <div class="pd_top_90"></div>
              <!---============spacing==========--->
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="blog_single_content">
                      <div class="single-thumbnail">
                        <img src="assets/images/MS/client-logo-8.png" class="img-fluid" alt="img" />
                      </div>
                      <div class="single_content_upper">
                        <div class="post_single_content">
                          <div class="section_title small type_one mr_bottom_25">
                            <div class="title_whole">
                              <h3 class="title"> В MSBusiness мы понимаем, что успех вашего бизнеса не завершается одним успешным проектом - это начало долгосрочного пути. Мы предоставляем высококачественное сопровождение, чтобы помочь вам максимизировать результаты и минимизировать риски.  </h3>
                            </div>
                          </div>

                          <div class="row mr_bottom_20">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                              <div class="position-relative">
                                <ul class="list_box list">
                                  <li>
                                    <div class="d-flex align-items-center">
                                      <div class="icon trans">
                                        <i aria-hidden="false" class="fas fa-check-circle"></i>
                                      </div>
                                      <a class="links" href="blog-details.html#"> Профессионализм</a>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="d-flex align-items-center">
                                      <div class="icon trans">
                                        <i aria-hidden="false" class="fas fa-check-circle"></i>
                                      </div>
                                      <a class="links" href="blog-details.html#"> Индивидуальный подход</a>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="d-flex align-items-center">
                                      <div class="icon trans">
                                        <i aria-hidden="false" class="fas fa-check-circle"></i>
                                      </div>
                                      <a class="links" href="blog-details.html#"> Стратегическое мышление</a>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                              <div class="position-relative">
                                <ul class="list_box list">
                                  <li>
                                    <div class="d-flex align-items-center">
                                      <div class="icon trans">
                                        <i aria-hidden="false" class="fas fa-check-circle"></i>
                                      </div>
                                      <a class="links" href="blog-details.html#"> Мониторинг и Оценка </a>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="d-flex align-items-center">
                                      <div class="icon trans">
                                        <i aria-hidden="false" class="fas fa-check-circle"></i>
                                      </div>
                                      <a class="links" href="blog-details.html#"> Специализированные знания </a>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="d-flex align-items-center">
                                      <div class="icon trans">
                                        <i aria-hidden="false" class="fas fa-check-circle"></i>
                                      </div>
                                      <a class="links" href="blog-details.html#"> Доверие и Конфиденциальность </a>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                              <div class="position-relative">
                                <ul class="list_box list">
                                  <li>
                                    <div class="d-flex align-items-center">
                                      <div class="icon trans">
                                        <i aria-hidden="false" class="fas fa-check-circle"></i>
                                      </div>
                                      <a class="links" href="blog-details.html#"> Гибкость и Адаптивность </a>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="d-flex align-items-center">
                                      <div class="icon trans">
                                        <i aria-hidden="false" class="fas fa-check-circle"></i>
                                      </div>
                                      <a class="links" href="blog-details.html#"> Систематичность и Последовательность</a>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="d-flex align-items-center">
                                      <div class="icon trans">
                                        <i aria-hidden="false" class="fas fa-check-circle"></i>
                                      </div>
                                      <a class="links" href="blog-details.html#"> Ориентированность на Результаты</a>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          
                          
                        </div>
                        <div class="single_content_lower">
                          <div class="tags_and_cat yes_tags yes_share">
                            <div class="d-flex">
                              <div class="left_one d-flex">
                                <div class="title">Теги</div>
                                <a class="tags" href="blog-details-left-sidebar.html"># СопровождениеБизнеса</a>
                                <a class="tags" href="blog-details-left-sidebar.html"># БизнесКонсалтинг</a>
                                <a class="tags" href="blog-details-left-sidebar.html"># СтратегическоеПланирование</a>
                                <a class="tags" href="blog-details-left-sidebar.html"># РостБизнеса</a>
                                <a class="tags" href="blog-details-left-sidebar.html"># ФинансовыеКонсультации</a>

                            </div>
                          </div>
                          
                       
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!---============spacing==========--->
              <div class="pd_bottom_70"></div>
              <!---============spacing==========--->
            </section>
          </div>
          <!--content end-->
          {% include 'include/footer.html' %}
          {% endblock %}